.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: #fff;
  box-shadow: $shadow-dark;
}

.header {
  font-size: 1.4rem; // for the placeholder
  height: 7rem; // for applying margin top
  background-color: #fff;
  border-bottom: $line;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.side-bar {
  background-color: $color-grey-dark-1;

  flex: 0 0 18%; // will ocuppy 18% from content space
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-overview {
  flex: 1;
}

.details {
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  border-bottom: $line;
}

.description {
  padding: 2rem;
  background-color: #fff;
  box-shadow: $shadow-light;

  flex: 0 0 60%;
  margin-right: 4.5rem;

  
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
